@font-face {
  font-family: "iconfont"; /* Project id 3024577 */
  src: url('iconfont.woff2?t=1659606688589') format('woff2'),
       url('iconfont.woff?t=1659606688589') format('woff'),
       url('iconfont.ttf?t=1659606688589') format('truetype');
}

.c-iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danxuanxuanzhong:before {
  content: "\e642";
}

.icon-danxuan:before {
  content: "\e6a6";
}

.icon-close:before {
  content: "\e647";
}

.icon-jinru:before {
  content: "\e646";
}

.icon-31fanhui1:before {
  content: "\e601";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-error:before {
  content: "\e67a";
}

.icon-jiazai:before {
  content: "\e6b4";
}

.icon-xiala:before {
  content: "\e612";
}

.icon-complete:before {
  content: "\e61d";
}

.icon-shifangshuaxin:before {
  content: "\e7b0";
}

.icon-zujian:before {
  content: "\e730";
}

.icon-caidan:before {
  content: "\e60e";
}

.icon-forms:before {
  content: "\e626";
}

.icon-window-max-full:before {
  content: "\e9be";
}

