$color1: #333333;
$color2: #666;
$color3: #999;
$color4: #aaa;
$color5: #ccc;

$color6: #f3f3f3;
$color7: #f5f5f5;
$color8: #fff;
$color9: #ddd;
$color10: #e5e5e5;
$main-color: #0090ff;
$primary: #0090ff;
$info: #aaa;
$success: #00e88b;
$warn: #ffaa00;
$error: #ff1a00;

$font1:10px;
$font2:12px;
$font3:14px;
$font4:16px;
$font5:18px;

.c-disable{
  opacity: .3;
}






